*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background:black;
    justify-content: center;
    align-items: center;
}
.topdisplay{display: flex;
    display: flex;
    flex-wrap: wrap;
}
.DRG{
    flex:max-content;
    height: 100%;
    font-size:2.4vw;
    color:lightgreen;
}
form input{
    width:90vw;
    height: 100%;
    border: none;
    border-radius: 12px;
    font-size:4vw;
    color: #fff;
    background: #000;
    text-align: right;
    /*pointer-events: none;*/
    padding: 0.6rem;
}
.keyboard{
    min-height: 10vh;
    background: white;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.calculator{
    width: 100vmax;
    height:90%;
    box-shadow: 4px 4px 30px rgba(0,0,0,2);
    border-radius: 12px;
    background: #434743;
    overflow: hidden;
}

small:not(.btn-2nd,.btn-2nd-active){
    font-size: 3vw;
    color:yellow;
    pointer-events:none;
}

.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
}

button{
    flex: 0 0 18%;
    margin: 2px 0;
    border: 1px solid #000;
    width: 10vw;
    height: 15vw;
    font-size: 5vw;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-unit{
    background:blue;
    color: #fff
}

.btn-unit2{
    background: darkblue;
    color: #fff
}

.btn-2nd{
    background: yellow;
    color:black;
}
.btn-arit{
    background: rgb(36, 129, 141);
    color: #fff
}

.btn-grey{
    background: rgb(131, 131, 131);
    color: #fff
}

.btn-equal{
    background: green;
    color: #fff
}
.btn-fn{
    background: black;
    color: #fff
}
.btn-hyp{
    background: black;
    color: #fff
}
.btn-hyp-active{
    background: #fff;
    color:black;
}
.btn-red{
    background: red;
    color: #fff
}